.dropdown-scrollbar
{
    height: 400px;
    overflow: scroll;
}
.asc:after{
  content:'◂';
    position: absolute;
}
.desc:after{
  content:'▸';
    position: absolute;
}
table tr th{
    vertical-align: middle;
}
table tr td{
    text-align: center;
    vertical-align: middle;
}
tr>th:first-child,tr>td:first-child {
  position: sticky;
  left: 0;
}
r {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
td img:hover{
    transform: scale(1.1);
}
img:hover{
    transform: scale(1.1);
}
table th{
    opacity: .9;
	background-color: #343439 !important;
}
table td{
	background-color: rgba(10,10,10, 0.8) !important;
}