#mask {
  filter: drop-shadow(0 0 0.75rem rgb(61, 71, 253));
}
#mask2 {
  filter: drop-shadow(0 0 0.75rem rgb(241, 241, 241));
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.dropdown-scrollbar
{
    height: 400px;
    overflow: scroll;
}
.asc:after{
  content:'◂';
    position: absolute;
}
.desc:after{
  content:'▸';
    position: absolute;
}
table tr th{
    vertical-align: middle;
}
table tr td{
    text-align: center;
    vertical-align: middle;
}
tr>th:first-child,tr>td:first-child {
    z-index: 1;
    position: sticky;
    left: 0;
}
r {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
td img:hover{
    transform: scale(1.1);
}
img:hover{
    transform: scale(1.1);
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #25252c !important;
}
table th{
    opacity: .9;
	background-color: #343439 !important;
}
table td{
    border: 1px solid #474747;
	background-color: rgba(10,10,10, 0.8) !important;
}