#mask {
  filter: drop-shadow(0 0 0.75rem rgb(27, 171, 255));
}
#mask2 {
  filter: drop-shadow(0 0 0.75rem rgb(241, 241, 241));
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.dropdown-scrollbar
{
    height: 400px;
    overflow: scroll;
}
.asc:after{
    content:'◂';
    position: absolute;
}
.desc:after{
    content:'▸';
    position: absolute;
}
table {
    width: 100%;
    border-collapse: separate; /* Don't collapse */
    border-top: 1px solid #494949;
    overflow: auto;
    overflow-y: hidden;
    border-spacing: 0;
}
table tr th{
    vertical-align: middle;
}
table tr td{
    text-align: center;
    vertical-align: middle;
}
tr>th:first-child,tr>td:first-child {
    z-index: 1;
    position: sticky;
    left: 0;
}
r {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
td img{
    border: 1px solid #474751;
}
td img:hover{
    border: #0080ff 1px solid;
    transform: scale(1.1);
}
img:hover{
    transform: scale(1.1);
}
td, th {
  position: relative;
}
tr:hover {
  background-color: #8c8c8c;
}
td:hover::after{
  content: "";
  position: absolute;
  background-color: #8c8c8c;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}
table th{
    border-right: 1px solid #535353;
    border-bottom: 1px solid #535353;
    border-left: 1px solid #535353;
    opacity: .85;
	background-color: #2f2f32 !important;
}
table td{
    border-right: 1px solid #494949;
	background-color: rgba(19, 19, 19, 0.8) !important;
}

i::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 300%;
  height: 300%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index:-1;
}

i[data-title]:hover::after, i[data-title]:active::after{
    content: attr(data-title);
    width: 130px;
    background-color: black;
    font-family: "Roboto", sans-serif;
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    border: gray 1px solid;
    position: absolute;
    z-index: 1;
}

a[data-title]:hover::after, a[data-title]:active::after{
    content: attr(data-title);
    width: 180px;
    background-color: black;
    font-family: "Roboto", sans-serif;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    border: gray 1px solid;
    position: absolute;
    z-index: 1;
}
[xtitle] {
    position: relative;
}

[xtitle]:after {
    content: attr(xtitle);
    position: absolute;
    bottom: 100%;
    left: -5%;
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
    padding: 2px;
    border: gray 1px solid;
    width: max-content;
    opacity: 0;
    z-index: 9;
}

[xtitle]:hover:after {
    opacity: 1;
    z-index: 9;
}