<button class="btn btn-dark btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
    {{ patch }}
</button>
<ul class="dropdown-menu">
    {% for p in patch_list %}
        {% if title == 'Megamind' %}
            <li><a class="dropdown-item" href="{{ playerurl }}/{{ stats }}/{{ p }}/{{ elo }}/Megamind">v{{ p }}</a></li>
        {% else %}
            <li><a class="dropdown-item" href="{{ playerurl }}/{{ stats }}/{{ p }}/{{ elo }}/{{ specific_key }}">v{{ p }}</a></li>
        {% endif %}
    {% endfor %}
    <li>
        <form onsubmit="redirectToCustomPatch(event)" class="d-flex align-items-center" style="padding-left: 5px">
            <input type="text" id="customPatch" class="form-control form-control-sm me-2" placeholder="Patch" style="width: 100px;">
            <button type="submit" class="btn btn-dark btn-outline-light btn-sm">Go</button>
        </form>
    </li>
</ul>
<script>
    function redirectToCustomPatch(event) {
        event.preventDefault();
        let customPatch = document.getElementById("customPatch").value;
        if (customPatch) {
            window.location.href = "{{ playerurl }}/{{ stats }}/v" + encodeURIComponent(customPatch) + "/{{ elo }}";
        }
    }
</script>