{% extends 'base.html' %}
{% block html_head %}
    <meta name="robots" content="noindex">
{% endblock %}
{% block content %}
<div class="wave-nav">
{% for i in range(game_data['ending_wave']) %}
    <div id="wave{{ i }}" onclick="changeWave({{ i }})" style="position: relative;">
        <r id="wave{{ i }}Text" style="display: none; position: absolute; font-size: 1.3rem; font-weight: 600; -webkit-text-stroke: 1px black; left: 10%; z-index: 999">{{ i + 1 }}</r>
        <img style="width: 32px; height: auto;" src="{{ get_cdn((i + 1)|string, "Wave") }}">
    </div>
{% endfor %}
</div>
<div class="king_hp_bars_container">
    {% for king_hp in [[game_data["left_king_hp"], "EarthKing"], [game_data["right_king_hp"], "SkyKing"]] %}
        <div class="king_hp_bar_outside">
            <img width="32" src="https://cdn.legiontd2.com/Icons/{{ king_hp[1] }}.png">
            <div class="king_hp_bar" id="king_hp_bar{{ loop.index0 }}">
                <div style="padding-left: 10px; height: 22px;"><r style="font-size: 1rem; font-weight: 300;" id="king_hp_text{{ loop.index0 }}"></r></div>
                <div class="king_hp_bar_upgrades" id="king_hp_bar_upgrades{{ loop.index0 }}"></div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="players-container">
    {% for player in game_data['players_data'] %}
        <div class="player-lane" data-player="{{ player['player_slot'] }}">
            <div class="player-info" style="position: relative">
                {% if game_data['players_data']|length == 4 %}
                    {% if player["mvp_score"] >= game_data['players_data'][player_map[loop.index0]]["mvp_score"] %}
                        <r2 xtitle="MVP Score: {{ player['mvp_score'] }}" style="color: goldenrod; font-size: 0.9rem; position: absolute; top: -12px; right: 45%">[MVP]</r2>
                    {% else %}
                        <r2 xtitle="MVP Score: {{ player['mvp_score'] }}" style="color: #ba87fb; font-size: 0.9rem; position: absolute; top: -12px; right: 45%">[2nd]</r2>
                    {% endif %}
                {% endif %}
                <div style="display: flex; justify-content: space-between;">
                    <div style="display: flex; align-items: center; gap: 5px; width: 65%">
                        <a href="/profile/{{ player['player_name'] }}" style="text-decoration: none; flex-grow: 1; width: 100%;">
                            <img width="32" height="32" src="{{ get_cdn(player['legion'], 'MM') }}">
                            <r style="color: var(--player{{ player['player_slot'] }}); font-weight: 400;">
                                {{ player['player_name'] }}
                            </r>
                            {% if player["party_size"] > 1 %}
                                <img style="width: 16px;" src="/static/party.png">
                            {% endif %}
                        </a>
                    </div>
                    <div>
                        <img width="24" height="24" src="{{ get_rank_url(player['player_elo']) }}">
                        <r>{{ player['player_elo'] }}({{ plus_prefix(player["elo_change"]) }})</r>
                    </div>
                </div>
                <div class="units-roll">
                    {% for unit in player["roll"].split(",") %}
                        <img style="float: right" width="32" height="32" src="{{ get_cdn(unit, "Unit") }}"><br>
                    {% endfor %}
                    <div style="margin-left: auto;">
                        {% if player['spell'] != "none" %}
                            <img width="32" height="32" src="{{ get_cdn(player['spell'], "Spell") }}"><br>
                        {% endif %}
                    </div>
                </div>
                <div style="padding-top: 10px; display: flex; justify-content: space-between; font-size: 0.9rem">
                    <div><img width="22" height="auto" src="https://cdn.legiontd2.com/Icons/Value32.png"><r class="fighter-value">{{ player['fighter_value_per_wave'][0] }}</r></div>
                    <div><img width="22" height="auto" src="https://cdn.legiontd2.com/Icons/Worker.png"><r class="workers">{{ player['workers_per_wave'][0] }}</r></div>
                    <div><img width="22" height="auto" src="https://cdn.legiontd2.com/Icons/Income.png"><r class="income">{{ player['income_per_wave'][0] }}</r></div>
                    <div><img width="22" height="auto" src="https://cdn.legiontd2.com/Icons/Gold.png"><r class="networth">{{ player['net_worth_per_wave'][0] }}</r></div>
                </div>
            </div>
            <div class="grid" data-build="0">
                {% for row in range(14) %}
                    {% for col in range(9) %}
                        <div class="grid-square" style="grid-column: {{ col + 1 }}; grid-row: {{ row + 1 }};"></div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="sends-leaks" id="sends{{ loop.index0 }}"></div>
            <div class="sends-leaks" id="leaks{{ loop.index0 }}"></div>
            <div style="padding-top: 10px" class="copy-build" id="build{{ loop.index0 }}"></div>
        </div>
    {% endfor %}
</div>
<div class="game-info">
    <div style="display: flex; gap: 5px">
        <r>Spell Choices:</r>
        {% for spell in game_data['spell_choices'] %}
            <img width="24" height="24" src="{{ get_cdn(spell|replace("powerup_id", "")|replace("spell_damage", ""), "Spell") }}">
        {% endfor %}
    </div>
    <div><r>Date: {{ game_data['date'] }}</r></div>
    <div><r>Version: {{ game_data['version'] }}</r></div>
    <div><r>Game elo: {{ game_data['game_elo'] }}</r></div>
    <div><r>Game length: {{ (game_data['game_length'] / 60)|round|int }} minutes</r></div>
</div>
<style>
    :root{
        --player1: #ff4d4d;
        --player2: #3d81ff;
        --player3: #fe8a0e;
        --player4: #a964e5;
        --player5: #fffc00;
        --player6: #1ce6b9;
        --player7: #20c000;
        --player8: #e55bb0;
        --UpgradeKingAttack: #ff1d1d;
        --UpgradeKingRegen: #0cca2f;
        --UpgradeKingSpell: #8f09dd;
        --kingHpBarW: 268px;
    }
    .king_hp_bars_container{
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
    }
    .king_hp_bar_outside{
        display: flex;
        border-radius: 5px;
        overflow: hidden;
        width: calc(var(--kingHpBarW) + 32px);
        height: 32px;
        background-color: #535353;
        border: 1px solid #444;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }
    .king_hp_bar{
        width: var(--kingHpBarW);
        height: 22px;
        background-color: #2a950f;
    }
    .king_hp_bar_upgrades{
        display: flex;
        flex-wrap: nowrap;
        width: var(--kingHpBarW);
        height: 10px;
    }
    .units-roll{
        display: flex;
        flex-wrap: nowrap;
        padding-top: 5px;
        gap: 1px;
    }
    .game-info {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 15px;
        margin: 10px;
        background-color: #2e2e2e;
        border: 1px solid #444;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }
    .wave-nav {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 3px;
        padding-top: 6px;
        height: 52px;
        overflow-x: auto;
    }
    .wave-nav img:hover{
        border: #0080ff 1px solid;
        transform: scale(1.1);
    }
    .players-container {
        display: flex;
        flex-wrap: nowrap;
        {% if game_data['players_data']|length == 8 %}
            overflow-x: scroll;
        {% endif %}
    }
    @media (max-width: 1400px) {
        .players-container {
            overflow-x: scroll;
        }
    }
    @media (min-width: 1000px) {
        .wave-nav{
            justify-content: center;
        }
    }
    @media (max-width: 1000px) {
        :root{
            --kingHpBarW: 120px;
        }
        .wave-nav{
            padding-left: 10px;
        }
    }
    .player-lane {
        width: 300px;
        min-width: 300px;
        padding: 15px;
        margin: 10px;
        background-color: #1c1c1c;
        border: 1px solid #444;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }
    .player-info {
        white-space: nowrap;
        margin-bottom: 15px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(9, 28px);
        grid-template-rows: repeat(14, 28px);
        gap: 2px;
        position: relative;
    }
    .grid-square {
        background-color: #474747;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grid-square img {
        max-width: 100%;
        max-height: 100%;
    }
    .sends-leaks{
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        height: 58px;
    }
</style>
<script>
const constantStats = {{ const_file|tojson }};
function countMythium(send) {
    if (!Array.isArray(send)) {
        if (send === "") {
            send = [];
        } else {
            send = send.split("!");
        }
    }
    let sendAmount = 0;
    send.forEach(x => {
        if (x.includes("Upgrade")) {
            return;
        }
        if (x in constantStats['incmercs']) {
            sendAmount += constantStats['incmercs'][x];
        } else {
            sendAmount += constantStats['powermercs'][x];
        }
    });
    return sendAmount;
}

function calcLeak(leak, wave, returnGold = false) {
    if (!Array.isArray(leak)) {
        if (leak === "") {
            leak = [];
        } else {
            leak = leak.split("!");
        }
    }
    let leakAmount = 0;
    let waveTotal = constantStats['wave_values'][wave];

    leak.forEach(x => {
        if (x in constantStats['creep_values']) {
            leakAmount += constantStats['creep_values'][x][1];
        } else if (x in constantStats['incmercs']) {
            leakAmount += (constantStats['incmercs'][x] / 20) * 4;
        } else if (x in constantStats['powermercs']) {
            if (x === "Imp") {
                leakAmount += (constantStats['powermercs'][x] / 20) * 3;
            } else {
                leakAmount += (constantStats['powermercs'][x] / 20) * 6;
            }
        }
    });

    if (returnGold) {
        return leakAmount;
    } else {
        return Math.round((leakAmount / waveTotal) * 100);
    }
}

function getCdnImage(name) {
    let newString = "";
    if (name.includes("_")) {
        if (name.includes("_unit_id")) {
            name = name.split("_unit_id")[0];
            if (name[0] === " ") {
                name = name.slice(1);
            }
        }
        splitChar = "_";
    } else {
        splitChar = " ";
    }
    name.split(splitChar).forEach((word) => {
        newString += word.charAt(0).toUpperCase() + word.slice(1);
    });
    if (newString === "HellRaiserBuffed") {
        newString = "HellRaiser";
    } else if (newString === "PackRat(footprints)" || newString === "PackRatNest") {
        newString = "PackRat(Footprints)";
    } else if (newString === "Aps") {
        newString = "APS";
    } else if (newString === "Mps") {
        newString = "MPS";
    }
    return `https://cdn.legiontd2.com/icons/${newString}.png`;
}

function changeUrlNumber(newNumber) {
    let currentUrl = window.location.href;
    let baseUrl = currentUrl.replace(/\/\d+$/, '');
    let newUrl = baseUrl + '/' + newNumber;
    history.replaceState(null, null, newUrl);
}

function removeCopyButton(id) {
    const copyDiv = document.getElementById(id);
    if (copyDiv) {
        const existingButton = copyDiv.querySelector(".btn");
        if (existingButton) {
            copyDiv.removeChild(existingButton);
        }
    }
}

function addCopyButton(id, textToCopy) {
    removeCopyButton(id);
    const copyDiv = document.getElementById(id);
    if (!copyDiv) return;

    const copyButton = document.createElement("button");
    copyButton.textContent = "Copy Build";
    copyButton.classList.add("btn", "btn-primary", "btn-sm");

    copyButton.addEventListener("click", () => {
        navigator.clipboard.writeText(textToCopy)
            .then(() => {
                alert("Build copied to clipboard!");
            })
            .catch(err => {
                console.error("Failed to copy text: ", err);
            });
    });
    copyDiv.appendChild(copyButton);
}


let currentWave = 0;
const maxWaves = {{ game_data['ending_wave'] }};

function changeWave(wave) {
    let leftKingUps = {"Upgrade King Attack": 0, "Upgrade King Regen": 0, "Upgrade King Spell": 0};
    let rightKingUps = {"Upgrade King Attack": 0, "Upgrade King Regen": 0, "Upgrade King Spell": 0};
    if (wave < 0) {
        wave = maxWaves - 1
    }
    else if (wave > (maxWaves - 1)) {
        wave = 0
    }
    changeUrlNumber(wave + 1)
    const gameData = {{ game_data | tojson }};
    const playerData = gameData["players_data"]
    document.getElementById("wave"+currentWave).style.border = ""
    document.getElementById("wave"+currentWave).style.transform = ""
    document.getElementById("wave"+currentWave+"Text").style.display = "none"
    currentWave = wave;
    let leftKingHp = gameData['left_king_hp'][currentWave];
    let rightKingHp = gameData['right_king_hp'][currentWave];
    document.getElementById("wave"+currentWave).style.border = "#0080ff 2px solid"
    document.getElementById("wave"+currentWave).style.transform = "scale(1.1)"
    document.getElementById("wave"+currentWave+"Text").style.display = "block"
    const hpBarWidth = getComputedStyle(document.body).getPropertyValue('--kingHpBarW');
    document.getElementById("king_hp_bar0").style.width = (parseInt(hpBarWidth) * leftKingHp).toString() + "px";
    document.getElementById("king_hp_bar1").style.width = (parseInt(hpBarWidth) * rightKingHp).toString() + "px";
    document.getElementById("king_hp_text0").innerText = (Math.round(leftKingHp * 100)).toString() + "%";
    document.getElementById("king_hp_text1").innerText = (Math.round(rightKingHp * 100)).toString() + "%";
    document.querySelectorAll('.player-lane').forEach((lane, index) => {
        // Update stats
        lane.querySelector('.fighter-value').innerText = playerData[index]['fighter_value_per_wave'][currentWave];
        lane.querySelector('.income').innerText = playerData[index]['income_per_wave'][currentWave];
        lane.querySelector('.workers').innerText = Math.round(playerData[index]['workers_per_wave'][currentWave] * 10) / 10;
        lane.querySelector('.networth').innerText = playerData[index]['net_worth_per_wave'][currentWave];


        const grid = lane.querySelector('.grid');
        grid.querySelectorAll('.grid-square').forEach(square => {
            square.innerHTML = ''; // Remove previous units
        });
        const buildWaveStr = playerData[index]['build_per_wave'][currentWave];
        const buildWave = buildWaveStr ? buildWaveStr.split('!') : [];
        let buildJson = {"Towers":[], "Rolls": [], "LegionSpell": "", "LegionSpellPositionX": -1.0,
            "LegionSpellPositionZ": -1.0, "Gold": 0, "Mythium": 0, "Wave": wave+1,
            "HasChampion": false, "ChampionX": -1.0, "ChampionZ": -1.0};
        if (playerData[index]["spell_location"] !== "-1|-1" && wave > 9){
            const spellToMatch = playerData[index]["spell"].toLowerCase().replace(/\s+/g, "_");
            buildJson["LegionSpell"] = gameData["spell_choices"].find(name => name.toLowerCase().includes(spellToMatch));
            buildJson["LegionSpellPositionX"] = parseFloat(playerData[index]["spell_location"].split("|")[0]) - 4.5;
            buildJson["LegionSpellPositionZ"] = parseFloat(playerData[index]["spell_location"].split("|")[1]) - 7;
        }
        if (playerData[index]["champ_location"] !== "-1|-1"){
            buildJson["HasChampion"] = true
            buildJson["ChampionX"] = parseFloat(playerData[index]["champ_location"].split("|")[0]) - 4.5;
            buildJson["ChampionZ"] = parseFloat(playerData[index]["champ_location"].split("|")[1]) - 7;
        }
        if (Array.isArray(buildWave)) {
            buildWave.forEach(build => {
                const unit = build.split(':')[0];
                const coord = build.split(':')[1];
                const stacks = build.split(':')[2];
                let [x, y] = coord.split('|').map(parseFloat);
                buildJson["Towers"].push({"T": unit, "X": x - 4.5, "Z": y - 7, "S": parseFloat(stacks)});
                const gridColumn = Math.floor(x -0.5) + 1;
                const gridRow = 14 - Math.floor(y);
                let leftStacks = ""
                x = x - 0.5
                y = y - 0.5
                let xOffset = (x % 1) * 100;
                const yOffset = (y % 1) * 100;
                const gridSquare = grid.querySelector(`.grid-square[style*="grid-column: ${gridColumn};"][style*="grid-row: ${gridRow};"]`);
                if (gridSquare) {
                    const unitName = unit.split('_unit_id')[0];
                    const unitImage = getCdnImage(unitName);
                    let topString = "0"
                    let topStringStacks = "50%"
                    let xOffsetChamp = xOffset
                    if (yOffset !== 0){
                        topString = "8px"
                        topStringStacks = "65%"
                    }
                    if (xOffset !== 0){
                        xOffsetChamp += 64;
                        xOffset += 2;
                    } else {
                        leftStacks = "left: 0;"
                    }
                    gridSquare.innerHTML = `<img loading="lazy" src="${unitImage}" style="position: absolute; transform: translate(${xOffset}%, ${yOffset}%); z-index: 10; width: 100%; height: 100%;">`;
                    if (stacks !== "0"){
                        gridSquare.innerHTML += `<r2 style="position: absolute; transform: translate(${xOffset}%, ${yOffset}%); z-index: 90; font-size: 0.7rem; top: ${topStringStacks}; ${leftStacks} -webkit-text-stroke: 1px black; paint-order: stroke fill; font-weight: 500;">${stacks}</r2>`;
                    }
                    if (coord === playerData[index]["champ_location"]){
                        gridSquare.innerHTML += `<img loading="lazy" src="https://cdn.legiontd2.com/icons/Items/Champion.png" style="position: absolute; transform: translate(${xOffsetChamp}%, ${yOffset}%); z-index: 90; width: 45%; height: 45%; top: ${topString}; right: 0">`;
                    }
                    if (wave > 9){
                        if (coord === playerData[index]["spell_location"]){
                            let spellImage = getCdnImage(playerData[index]["spell"])
                            gridSquare.innerHTML += `<img loading="lazy" src="${spellImage}" style="position: absolute; transform: translate(${xOffset}%, ${yOffset}%); z-index: 90; width: 45%; height: 45%; top: ${topString}; left: 0">`;
                        }
                    }
                }
            });
        } else {
            console.error('buildWave is not an array:', buildWave);
        }
        const mercsReceived = playerData[index]['mercs_received_per_wave'][currentWave];
        let sendTotal = countMythium(mercsReceived);
        buildJson["Mythium"] = sendTotal;
        addCopyButton("build" + index, JSON.stringify(buildJson))
        const kingupsReceived = playerData[index]['kingups_received_per_wave'][currentWave].split("!");
        if (kingupsReceived[0] !== ""){
            sendTotal += (kingupsReceived.length * 20)
        }
        const sendsDiv = document.getElementById("sends" + index);
        sendsDiv.innerHTML = `<r>${sendTotal}</r><img width="24" height="24" loading="lazy" src="https://cdn.legiontd2.com/icons/Mythium32.png">`;
        mercsReceived.split("!").forEach(merc =>{
            if (merc){
                const unitImage = getCdnImage(merc);
                sendsDiv.innerHTML += `<img width="24" height="24" loading="lazy" src="${unitImage}">`;
            }
        });
        kingupsReceived.forEach(kingup =>{
            if (kingup){
                const unitImage = getCdnImage(kingup);
                sendsDiv.innerHTML += `<img width="24" height="24" loading="lazy" src="${unitImage}">`;
            }
        });
        // Leaks
        const leaksCurrentWave = playerData[index]['leaks_per_wave'][currentWave];
        let leakPercentage = calcLeak(leaksCurrentWave, wave);
        const leaksDiv = document.getElementById("leaks" + index);
        leaksDiv.innerHTML = "";
        if (leakPercentage > 0){
            let color = "red"
            if (leakPercentage <= 40){
                color = "yellow"
            } else if (leakPercentage <= 89){
                color = "orange"
            }
            leaksDiv.innerHTML = `<r style="color: ${color}">${leakPercentage}%</r>`;
        }
        leaksCurrentWave.split("!").forEach(leak =>{
            if (leak){
                const unitImage = getCdnImage(leak);
                leaksDiv.innerHTML += `<img width="24" height="24" loading="lazy" src="${unitImage}">`;
            }
        });
        // Kingups
        playerData[index]['kingups_received_per_wave'].slice(0, currentWave+1).forEach(wave => {
            let waveList = wave.split("!").filter(waveItem => waveItem !== "");
            let target = (index in [0, 1]) ? rightKingUps : leftKingUps;
            waveList.forEach(kingup => {
                target[kingup] += 1;
            });
        });
    });
    //Update Kingups
    let leftKingBar = document.getElementById("king_hp_bar_upgrades0")
    leftKingBar.innerHTML = ""
    Object.entries(leftKingUps).forEach(([key, value]) => {
        leftKingBar.innerHTML += `<div style="width: ${value*(parseInt(hpBarWidth)/30)}px; height: 10px; background-color: var(--${key.replaceAll(" ", "")}); z-index: 999"></div>`;
    });
    let rightKingBar = document.getElementById("king_hp_bar_upgrades1")
    rightKingBar.innerHTML = ""
    Object.entries(rightKingUps).forEach(([key, value]) => {
        rightKingBar.innerHTML += `<div style="width: ${value*(parseInt(hpBarWidth)/30)}px; height: 10px; background-color: var(--${key.replaceAll(" ", "")}); z-index: 999"></div>`;
    });
}
document.addEventListener('keydown', (e) => {
    if (e.code === "ArrowUp" || e.code === "ArrowRight") {
        e.preventDefault();
        changeWave(currentWave + 1);
    } else if (e.code === "ArrowDown" || e.code === "ArrowLeft") {
        e.preventDefault();
        changeWave(currentWave - 1);
    }
});

window.addEventListener('resize', function(event) {
    changeWave(currentWave);
}, true);

changeWave({{ wave|int - 1 }});
</script>

{% endblock %}
