{% extends 'base.html' %}

{% block content %}
<style>
    .rankHover {
        position: absolute;
        left: 40%;
        bottom: -14px;
        font-size: 0.7rem;
        color: #9e9e9e;
    }
    .pagination {
        text-align: center;
        display: flex;
        gap: 10px;
        height: 50%;
        padding-top: 10px;
    }
    .pagination button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
</style>
<div style="display: flex; padding: 10px">
    <div class="pagination">
        <button class="btn btn-secondary btn-sm" id="prevBtn" onclick="changePage(-1)" disabled>Previous</button>
        <button class="btn btn-secondary btn-sm" id="nextBtn" onclick="changePage(1)">Next</button>
    </div>
    <div style="text-align: center; width: 100%; color: #fff11b; padding: 10px"><r>Note: Elo ± calculations are not accurate for games with Duos</r></div>
</div>
<div class="main-container">
    <div id="games-container">
        <!-- The games will be dynamically injected here -->
    </div>

    <div class="pagination">
        <button class="btn btn-secondary btn-sm" id="prevBtn" onclick="changePage(-1)" disabled>Previous</button>
        <button class="btn btn-secondary btn-sm" id="nextBtn" onclick="changePage(1)">Next</button>
    </div>
</div>

<script>
    let gamesData = [];
    let currentPage = 1;
    const gamesPerPage = 21;

    function getRelativeTime(timestamp) {
        const now = new Date().getTime();
        const timeDifference = Math.floor(now - timestamp * 1000);

        const seconds = Math.floor(timeDifference / 1000);
        const minutes = Math.floor(seconds / 60);
        return `${minutes}:${String((seconds % 60)).padStart(2, '0')}`;
    }

    function getRankUrl(elo) {
        if (typeof elo !== 'number') {
            elo = parseInt(elo, 10);
            if (isNaN(elo)) return null;
        }

        if (elo >= 2800) {
            return 'https://cdn.legiontd2.com/icons/Ranks/Simple/Legend.png';
        } else if (elo >= 2600) {
            return 'https://cdn.legiontd2.com/icons/Ranks/Simple/GrandMaster.png';
        } else if (elo >= 2400) {
            return 'https://cdn.legiontd2.com/icons/Ranks/Simple/SeniorMaster.png';
        } else if (elo >= 2200) {
            return 'https://cdn.legiontd2.com/icons/Ranks/Simple/Master.png';
        } else if (elo >= 2000) {
            return 'https://cdn.legiontd2.com/icons/Ranks/Simple/Expert.png';
        } else if (elo >= 1800) {
            return 'https://cdn.legiontd2.com/icons/Ranks/Simple/Diamond.png';
        } else if (elo >= 1600) {
            return 'https://cdn.legiontd2.com/icons/Ranks/Simple/Platinum.png';
        } else if (elo >= 1400) {
            return 'https://cdn.legiontd2.com/icons/Ranks/Simple/Gold.png';
        } else if (elo >= 1200) {
            return 'https://cdn.legiontd2.com/icons/Ranks/Simple/Silver.png';
        } else {
            return 'https://cdn.legiontd2.com/icons/Ranks/Simple/Bronze.png';
        }
    }

    function updateAllTimestamps() {
        const elements = document.querySelectorAll('.timestamp');
        elements.forEach(el => {
            const posixTimestamp = parseFloat(el.getAttribute('data-timestamp'));
            const relativeTime = getRelativeTime(posixTimestamp);
            el.innerText = relativeTime;
        });
    }

    function calculateTeamStats(team1, team2) {
        const team1_avgElo = team1.reduce((sum, player) => sum + parseFloat(player[1]), 0) / team1.length;
        const team2_avgElo = team2.reduce((sum, player) => sum + parseFloat(player[1]), 0) / team2.length;

        const team1Elo = parseFloat(team1_avgElo);
        const team2Elo = parseFloat(team2_avgElo);

        const winProbabilityTeam1 = calculateWinProbability(team1Elo, team2Elo);
        const winProbabilityTeam2 = 1 - winProbabilityTeam1;

        const team1EloChange = calculateEloChange(team1Elo, team2Elo, 1);
        const team2EloChange = calculateEloChange(team2Elo, team1Elo, 1);

        return {
            team1_avgElo: Math.round(team1Elo),
            team2_avgElo: Math.round(team2Elo),
            winProbabilityTeam1: (winProbabilityTeam1 * 100).toFixed(2),
            winProbabilityTeam2: (winProbabilityTeam2 * 100).toFixed(2),
            team1EloChange: Math.round(team1EloChange),
            team2EloChange: Math.round(team2EloChange)
        };
    }

    function calculateWinProbability(teamA_elo, teamB_elo) {
        const expectedA = 1 / (1 + Math.pow(10, (teamB_elo - teamA_elo) / 400));
        return expectedA;
    }

    function calculateEloChange(teamElo, opponentElo, result) {
        const K = 32;
        const winProb = calculateWinProbability(teamElo, opponentElo);
        let eloChange = K * (result - winProb);
        if (eloChange > 30) eloChange = 30;
        if (eloChange < -30) eloChange = -30;
        if (result === 1 && eloChange < 2) eloChange = 2;
        if (result === 0 && eloChange > -2) eloChange = -2;

        return eloChange;
    }

    function renderGames(games) {
        const gamesContainer = document.getElementById('games-container');
        gamesContainer.innerHTML = '';

        games.forEach(game => {
            const gameElo = game[1];
            const westPlayers = game[2];
            const eastPlayers = game[3];
            const teamStats = calculateTeamStats(westPlayers, eastPlayers);
            const gameHTML = `
                <div class="game-card">
                    <div class="timestamp-container">
                        <span class="timestamp" data-timestamp="${game[0]}"></span>
                    </div>
                    <div class="game-header">
                        Game Elo: <img style="width: 24px; vertical-align: middle;" src="${getRankUrl(gameElo)}"> ${gameElo}
                        <div xtitle="Win Chances: ${teamStats.winProbabilityTeam1}% - ${teamStats.winProbabilityTeam2}%">±${teamStats.team1EloChange} / ±${teamStats.team2EloChange}</div>
                    </div>
                    <div class="players-container">
                        <div class="team">
                            ${westPlayers.map(player => `
                                <a class="player" style="color: white; text-decoration: none;" href="/profile/${player[0]}">
                                    <div style="position: relative">
                                        <img src="${getRankUrl(player[1])}" alt="${player[0]} rank"><div class="rankHover">(${player[1]})</div>
                                        <span>${player[0]}</span>
                                    </div>
                                </a>
                            `).join('')}
                        </div>
                        <div class="team">
                            ${eastPlayers.map(player => `
                                <a class="player" style="color: white; text-decoration: none;" href="/profile/${player[0]}">
                                    <div style="position: relative">
                                        <img src="${getRankUrl(player[1])}" alt="${player[0]} rank"><div class="rankHover">(${player[1]})</div>
                                        <span>${player[0]}</span>
                                    </div>
                                </a>
                            `).join('')}
                        </div>
                    </div>
                </div>
            `;
            gamesContainer.innerHTML += gameHTML;
        });

        updateAllTimestamps();
    }

    async function fetchGames(page = 1) {
        try {
            const baseUrl = window.location.origin.includes('127.0.0.1')
                ? 'https://drachbot.site'
                : '';
            const response = await fetch(`${baseUrl}/api/livegames`);
            gamesData = await response.json();
            gamesData = gamesData.sort((a, b) => b[1] - a[1]);
            const start = (page - 1) * gamesPerPage;
            const end = start + gamesPerPage;
            renderGames(gamesData.slice(start, end));
            updatePaginationButtons();
        } catch (error) {
            console.error('Error fetching games:', error);
        }
    }

    function changePage(direction) {
        currentPage += direction;
        fetchGames(currentPage);
    }

    function updatePaginationButtons() {
        document.getElementById('prevBtn').disabled = currentPage === 1;
        document.getElementById('nextBtn').disabled = currentPage * gamesPerPage >= gamesData.length;
    }

    fetchGames(currentPage);

    setInterval(() => {
        fetchGames(currentPage);
    }, 10000); // Refresh every 10 seconds

    setInterval(updateAllTimestamps, 1000);
</script>
{% endblock %}
