<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/theme.css">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <meta name="robots" content="noindex">
    {% if og_data %}
        <meta property="og:title" content="{{ og_data["api_profile"]["playerName"] }}'s Drachbot Profile" />
        <meta property="og:description" content="{{ ("Rank #" + og_data["api_profile"]["rank"]|string + " Elo: " + og_data["api_profile"]["elo"]|string) if og_data["api_profile"]["rank"] else "" }}"/>
        <meta property="og:image" content="https://cdn.legiontd2.com/{{ og_data["api_profile"]["avatarUrl"] }}" />
    {% endif %}
</head>
<body class="empty-state" style="min-height:100vh; display:grid; place-items:center;">
    <div>
        <div id="loading" class="center"></div>
        <div class="empty-state__text" style="padding-top: 20px"><r>{% if text %}{{ text }}{% else %}Loading Data... This may take up to a minute{% endif %}</r></div>
    </div>
    <script>
        function applyBackground(url) {
            document.body.style.backgroundImage = `
                radial-gradient(circle, rgba(0,0,0,0.58) 0%, rgba(0,0,0,0.9) 100%),
                url("${url}")
              `;
        }

        const savedBackground = localStorage.getItem('backgroundImage');
        if (savedBackground) {
            applyBackground(savedBackground);
        }
    </script>
    <script> window.location.replace("{{ url|safe }}"); </script>
    <script src="/static/script.js"></script>
</body>
</html>