{% extends 'base.html' %}

{% block content %}
<div style="padding-top: 15px;">
    <img style="float:left; padding-right: 20px;" src="https://cdn.legiontd2.com/icons/Mastermind.png">
    <r style="font-size: 1.5rem;" class="navbar-brand" href="#">Mastermind Stats</r>
    <div style="float:right;">
        <button class="btn btn-dark btn-lg btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Elo
        </button>
        <ul class="dropdown-menu">
            {% for i in elo_brackets %}
            <li><a class="dropdown-item" href="/mmstats/{{patch}}/{{i}}">{{i}}+</a></li>
            {% endfor %}
        </ul>
        <button class="btn btn-dark btn-lg btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Patch
        </button>
        <ul class="dropdown-menu">
            {% for p in patch_list %}
            <li><a class="dropdown-item" href="/mmstats/{{p}}/{{elo}}">v{{p}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <r style="font-size: 1rem;" > <b>{{human_format(games)}}</b> Ranked Games | Avg Game Elo: <b>{{avg_elo}}</b> | v{{patch}}</r>
</div>
<table class="table table-striped-columns">
    <thead>
    <tr>
        <th><r>MM:</r></th>
        {% for mm in data %}
            <th><img src="https://cdn.legiontd2.com/icons/Items/{{mm}}.png"></th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><r>Games:</r></td>
    {% for mm in data %}
        <td><r>{{human_format(data[mm]['Count'])}}</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Winrate:</r></td>
    {% for mm in data %}
        <td><r>{{custom_winrate([data[mm]['Wins'], data[mm]['Count']])}}%</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Pickrate:</r></td>
    {% for mm in data %}
        <td><r>{{custom_winrate([data[mm]['Count'], games])|round}}%</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Player Elo:</r></td>
    {% for mm in data %}
        <td><r>{{custom_divide([data[mm]['Elo'], data[mm]['Count']])|int}}</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>W on W10:</r></td>
    {% for mm in data %}
        <td><r>{{custom_divide([data[mm]['Worker'], data[mm]['Count']], 1)}}</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Best<br>Opener:</r></td>
    {% for mm in data %}
        <td><img src="https://cdn.legiontd2.com/icons/{{get_perf_list(data[mm], 'Opener')|first|replace(' ', '')}}.png"></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Games:</r></td>
    {% for mm in data %}
        <td><r>{{get_dict_value(data[mm]['Opener'], get_perf_list(data[mm], 'Opener')|first)['Count']}}</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Winrate:</r></td>
    {% for mm in data %}
        {% set count = get_dict_value(data[mm]['Opener'], get_perf_list(data[mm], 'Opener')|first)['Count'] %}
        {% set wins = get_dict_value(data[mm]['Opener'], get_perf_list(data[mm], 'Opener')|first)['Wins'] %}
        <td><r>{{custom_winrate([wins, count])}}%</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Playrate:</r></td>
    {% for mm in data %}
        {% set count = get_dict_value(data[mm]['Opener'], get_perf_list(data[mm], 'Opener')|first)['Count'] %}
        <td><r>{{custom_winrate([count, data[mm]['Count']])}}%</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Best<br>Spell:</r></td>
    {% for mm in data %}
        <td><img src="https://cdn.legiontd2.com/icons/{{get_perf_list(data[mm], 'Spell')|first|replace(' ', '')|replace('PresstheAttack', 'PressTheAttack')}}.png"></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Games:</r></td>
    {% for mm in data %}
        <td><r>{{get_dict_value(data[mm]['Spell'], get_perf_list(data[mm], 'Spell')|first)['Count']}}</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Winrate:</r></td>
    {% for mm in data %}
        {% set count = get_dict_value(data[mm]['Spell'], get_perf_list(data[mm], 'Spell')|first)['Count'] %}
        {% set wins = get_dict_value(data[mm]['Spell'], get_perf_list(data[mm], 'Spell')|first)['Wins'] %}
        <td><r>{{custom_winrate([wins, count])}}%</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Playrate:</r></td>
    {% for mm in data %}
        {% set count = get_dict_value(data[mm]['Spell'], get_perf_list(data[mm], 'Spell')|first)['Count'] %}
        <td><r>{{custom_winrate([count, data[mm]['Count']])}}%</r></td>
    {% endfor %}
    </tr>
    </tbody>
</table>
{% endblock %}