{% extends 'base.html' %}
{% block html_head %}
    <meta name="robots" content="noindex">
{% endblock %}
{% block content %}
    <div class="empty-state">
        <div class="empty-state__text">{{ text }}</div>
        <div class="empty-state__actions">
            <button class="btn btn-primary" onclick="goBack()">Go Back</button>
            <button class="btn btn-secondary" onclick="goHome()">Home</button>
        </div>
        <script>
            function goBack() {
                window.history.back();
            }
            function goHome() {
                window.location.href = "/";
            }
        </script>
    </div>
{% endblock %}
