{% extends 'base.html' %}

{% block content %}
    <div align="center">
        <r style="font-size: 8vw; text-align: center;">No Data :-(</r>
        <br>
        <button style="width: 21vw; height: 7vw;" class="btn btn-primary" onclick="goBack()">
            <r style="font-size: 4vw;">Go Back</r>
            <span class="badge badge-primary"></span>
        </button>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>
{% endblock %}