{% extends 'base.html' %}
{% block html_head %}
    <meta name="robots" content="noindex">
{% endblock %}
{% block content %}
    <div align="center">
        <r style="font-size: 8vw; text-align: center;">{{ text }}</r>
        <br>
        <button style="width: 21vw; height: 7vw;" class="btn btn-primary" onclick="goBack()">
            <r style="font-size: 4vw;">Go Back</r>
            <span class="badge badge-primary"></span>
        </button>
        <button style="width: 21vw; height: 7vw;" class="btn btn-primary" onclick="goHome()">
            <r style="font-size: 4vw;">Home</r>
            <span class="badge badge-primary"></span>
        </button>
        <script>
            function goBack() {
                window.history.back();
            }
            function goHome() {
                window.location.href = "/";
            }
        </script>
    </div>
{% endblock %}