{% extends 'base.html' %}

{% block content %}
<div style="padding-top: 15px;">
    <img style="float:left; padding-right: 20px;" src="https://cdn.legiontd2.com/icons/Mastery/5.png">
    <r style="font-size: 1.5rem;" class="navbar-brand" href="#">Opener Stats</r>
    <div style="float:right;">
        <button class="btn btn-dark btn-lg btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Elo
        </button>
        <ul class="dropdown-menu">
            {% for i in elo_brackets %}
            <li><a class="dropdown-item" href="/openstats/{{patch}}/{{i}}">{{i}}+</a></li>
            {% endfor %}
        </ul>
        <button class="btn btn-dark btn-lg btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Patch
        </button>
        <ul class="dropdown-menu">
            {% for p in patch_list %}
            <li><a class="dropdown-item" href="/openstats/{{p}}/{{elo}}">v{{p}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <r style="font-size: 1rem;" > <b>{{human_format(games)}}</b> Ranked Games | Avg Game Elo: <b>{{avg_elo}}</b> | <b>v{{patch}}</b></r>
</div>
<table style="margin-top:  20px; display: inline-block; overflow: auto;" class="table table-striped-columns">
    <thead>
    <tr>
        <th><r>Opener:</r></th>
        {% for opener in data %}
            <th><img src="https://cdn.legiontd2.com/icons/{{get_unit_name(opener)}}.png"></th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><r>Games:</r></td>
    {% for opener in data %}
        <td><r>{{human_format(data[opener]['Count'])}}</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Winrate:</r></td>
    {% for opener in data %}
        <td><r>{{custom_winrate([data[opener]['Wins'], data[opener]['Count']])}}%</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Pickrate:</r></td>
    {% for opener in data %}
        <td><r>{{custom_winrate([data[opener]['Count'], games])}}%</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Player Elo:</r></td>
    {% for opener in data %}
        <td><r>{{custom_divide([data[opener]['Elo'], data[opener]['Count']])|int}}</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>W on W4:</r></td>
    {% for opener in data %}
        <td><r>{{custom_divide([data[opener]['Worker'], data[opener]['Count']], 1)}}</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Best<br>Add:</r></td>
    {% for opener in data %}
        <td><img src="https://cdn.legiontd2.com/icons/{{get_unit_name_list(get_perf_list(data[opener], 'OpenWith'))|replace('PackRatNest', 'PackRat(Footprints)')}}.png"></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Games:</r></td>
    {% for opener in data %}
        <td><r>{{get_dict_value(data[opener]['OpenWith'], get_perf_list(data[opener], 'OpenWith')|first)['Count']}}</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Winrate:</r></td>
    {% for opener in data %}
        {% set count = get_dict_value(data[opener]['OpenWith'], get_perf_list(data[opener], 'OpenWith')|first)['Count'] %}
        {% set wins = get_dict_value(data[opener]['OpenWith'], get_perf_list(data[opener], 'OpenWith')|first)['Wins'] %}
        <td><r>{{custom_winrate([wins, count])}}%</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Playrate:</r></td>
    {% for opener in data %}
        {% set count = get_dict_value(data[opener]['OpenWith'], get_perf_list(data[opener], 'OpenWith')|first)['Count'] %}
        <td><r>{{custom_winrate([count, data[opener]['Count']])}}%</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Best<br>MMs:</r></td>
    {% for opener in data %}
        <td><img src="https://cdn.legiontd2.com/icons/Items/{{get_perf_list(data[opener], 'MMs')|first|replace(' ', '')}}.png"></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Games:</r></td>
    {% for opener in data %}
        <td><r>{{get_dict_value(data[opener]['MMs'], get_perf_list(data[opener], 'MMs')|first)['Count']}}</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Winrate:</r></td>
    {% for opener in data %}
        {% set count = get_dict_value(data[opener]['MMs'], get_perf_list(data[opener], 'MMs')|first)['Count'] %}
        {% set wins = get_dict_value(data[opener]['MMs'], get_perf_list(data[opener], 'MMs')|first)['Wins'] %}
        <td><r>{{custom_winrate([wins, count])}}%</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Playrate:</r></td>
    {% for opener in data %}
        {% set count = get_dict_value(data[opener]['MMs'], get_perf_list(data[opener], 'MMs')|first)['Count'] %}
        <td><r>{{custom_winrate([count, data[opener]['Count']])}}%</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Best<br>Spells:</r></td>
    {% for opener in data %}
        <td><img src="https://cdn.legiontd2.com/icons/{{get_perf_list(data[opener], 'Spells')|first|replace(' ', '')|replace('PresstheAttack', 'PressTheAttack')}}.png"></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Games:</r></td>
    {% for opener in data %}
        <td><r>{{get_dict_value(data[opener]['Spells'], get_perf_list(data[opener], 'Spells')|first)['Count']}}</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Winrate:</r></td>
    {% for opener in data %}
        {% set count = get_dict_value(data[opener]['Spells'], get_perf_list(data[opener], 'Spells')|first)['Count'] %}
        {% set wins = get_dict_value(data[opener]['Spells'], get_perf_list(data[opener], 'Spells')|first)['Wins'] %}
        <td><r>{{custom_winrate([wins, count])}}%</r></td>
    {% endfor %}
    </tr>
    <tr>
        <td><r>Playrate:</r></td>
    {% for opener in data %}
        {% set count = get_dict_value(data[opener]['Spells'], get_perf_list(data[opener], 'Spells')|first)['Count'] %}
        <td><r>{{custom_winrate([count, data[opener]['Count']])}}%</r></td>
    {% endfor %}
    </tr>
    </tbody>
</table>
{% endblock %}