{% extends 'base.html' %}

{% block content %}
    <div style="padding-top: 15px;">
        <div style="position: relative">
            <img style="float:left; padding-right: 20px; padding-bottom: 10px" src="{{ get_cdn_image(specific_key, header_title) }}">
            {% if stats == "megamindstats" and key != "Megamind" %}
                {% set header_title = "Megamind" %}
                <img style="position: absolute; top:0;left: 0; z-index: 1;" width="32" height="32" src="https://cdn.legiontd2.com/icons/Items/Megamind.png">
            {% endif %}
        </div>
        <r style="font-size: 1.5rem;" class="navbar-brand" href="#">{{ playername2 }}{{ get_unit_name(specific_key) }} {{ header_title }}
            Stats
        </r>
        <div style="float:right;">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Elo
            </button>
            <ul class="dropdown-menu">
                {% for i in elo_brackets %}
                    <li><a class="dropdown-item" href="{{ playerurl }}/{{ stats }}/{{ patch }}/{{ i }}/{{ specific_key }}">
                        <img loading="lazy" style="width: 24px; height: auto" src="{{ get_rank_url(i|int) }}">{{ i }}+</a></li>
                {% endfor %}
            </ul>
            {% if not patch_selector %}
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Patch
            </button>
            <ul class="dropdown-menu">
                {% for p in patch_list %}
                    {% if title == 'Megamind' %}
                        <li><a class="dropdown-item" href="{{ playerurl }}/{{ stats }}/{{ p }}/{{ elo }}/Megamind">v{{ p }}</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="{{ playerurl }}/{{ stats }}/{{ p }}/{{ elo }}">v{{ p }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% else %}
                <div class="dropdown" style="float: right; padding-left: 5px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Patches
                    </button>
                    <ul class="dropdown-menu" style="padding: 10px;" id="patchDropdown">
                        <form id="patchForm">
                            <!-- Select/Unselect All option -->
                            <li class="dropdown-item">
                                <label>
                                    <input type="checkbox" id="selectAll"> Select/Unselect All
                                </label>
                            </li>

                            <!-- Loop through the patches and display them as checkboxes -->
                            {% for p in patch_list %}
                                <li class="dropdown-item">
                                    <label style="width: 100%;">
                                        <input type="checkbox" class="patch-checkbox" value="{{ p }}"> v{{ p }}
                                    </label>
                                </li>
                            {% endfor %}
                        </form>

                        <!-- Button to trigger redirection inside the dropdown -->
                        <li class="dropdown-item text-center">
                            <button class="btn btn-primary w-100" id="redirectButton">Go</button>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
        <br>
        {% if stats == "wavestats" %}
            <r style="font-size: 1rem;"><b>{{ human_format(games) }}</b> Ranked Games | Endrate:
            <b>{{ custom_winrate([data[specific_key]['EndCount'], games]) }}%</b> |
            <b>v{{ patch }}</b></r>
        {% else %}
            <r style="font-size: 1rem;"><b>{{ human_format(data[specific_key]['Count']) }}</b> Ranked Games | Winrate:
            <b>{{ custom_winrate([data[specific_key]['Wins'], data[specific_key]['Count']]) }}%</b> |
            <b>v{{ patch }}</b></r>
        {% endif %}
        {# HEADER 1 #}
        {% for header in sub_headers %}
            <table style="display: inline-block;" class="table"
                   id="myTable{{ loop.index }}">
                <tbody>
                {% set header_dict = sort_dict(data[specific_key][header[1]], 'Count') %}
                <tr>
                    <th style="width: 7%;">
                        <r>{{ header[0] }}</r>
                        {% if header[0] in ["Champions", "Adds", "Openers", "Targets"] %}
                            <i data-title="{{ get_tooltip(header[0]) }}" style="font-size:16px; position: absolute; top: 1px; right: 1px;" class="fa">&#xf059;</i>
                        {% endif %}
                    </th>
                    {% for key in header_dict %}
                        {% if key in mm_list %}
                            <td style="width: 7%;"><a xtitle="{{ get_tooltip(key) }}" href="{{ playerurl }}/{{ header[2] }}/{{ patch }}/{{ elo }}/{{ key }}"><img loading="lazy"
                                    src="{{ get_cdn_image(key, header[0]) }}"></a></td>
                        {% else %}
                            <td style="width: 7%;"><a xtitle="{{ get_tooltip(key) }}" href="{{ playerurl }}/{{ header[2] }}/{{ patch }}/{{ elo }}/{{ key|lower }}"><img loading="lazy"
                                    src="{{ get_cdn_image(key, header[0]) }}"></a></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {# HEADER 1 KEYS #}
                {% for k in header_keys %}
                    <tr>
                        <th>
                            <r>{{ k }}</r>
                        </th>
                        {% for key in header_dict %}
                            {% if stats == "wavestats" %}
                                {% set data = get_key_value(header_dict, key, k, data[specific_key]['Count']*4, stats, specific_tier = specific_tier, dict_type = header[2]) %}
                            {% else %}
                                {% set data = get_key_value(header_dict, key, k, data[specific_key]['Count'], stats, specific_tier = specific_tier, dict_type = header[2]) %}
                            {% endif %}
                            {% if k == "Tier" %}
                                <td data="{{ data[1] }}" style="color: {{ data[2] }}">{{ data[0] }}</td>
                            {% else %}
                                <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% if patch_selector %}
<script>
    // Function to get patches from URL
    function getSelectedPatchesFromUrl() {
        // Extract the URL parts (assumes the URL format: /playerurl/stats/patches/elo)
        const urlParts = window.location.pathname.split('/');
        if (urlParts.length >= 4) {
            // The third part of the URL should contain the patches (comma-separated)
            const patches = urlParts[4].split(',');
            return patches;
        }
        return [];
    }

    // Preselect checkboxes based on the URL
    function preselectPatches() {
        const selectedPatches = getSelectedPatchesFromUrl();
        document.querySelectorAll('.patch-checkbox').forEach(function (checkbox) {
            if (selectedPatches.includes(checkbox.value)) {
                checkbox.checked = true;
            }
        });

        // If all checkboxes are checked, check the "Select All" box
        const allChecked = selectedPatches.length > 0 && selectedPatches.length === document.querySelectorAll('.patch-checkbox').length;
        document.getElementById('selectAll').checked = allChecked;
    }
    // Event listener for the "Select/Unselect All" checkbox
    document.getElementById('selectAll').addEventListener('change', function () {
        var isChecked = this.checked;
        document.querySelectorAll('.patch-checkbox').forEach(function (checkbox) {
            checkbox.checked = isChecked;
        });
    });

    // Event listener for the "Go" button
    document.getElementById('redirectButton').addEventListener('click', function () {
        // Get all the selected patches
        var selectedPatches = [];
        document.querySelectorAll('.patch-checkbox:checked').forEach(function (checkbox) {
            selectedPatches.push(checkbox.value);
        });

        // If no patches selected, prevent action
        if (selectedPatches.length === 0) {
            alert('Please select at least one patch.');
            return;
        }

        // Create a comma-delimited string of the selected patches
        var patches = selectedPatches.join(',');

        // Get the base values from your current variables (using template variables)
        var playerurl = "{{ playerurl }}";
        var stats = "{{ stats }}";
        var elo = "{{ elo }}";
        var key = "{{ specific_key }}";
        // Construct the URL
        var url = playerurl + '/' + stats + '/' + patches + '/' + elo + '/' + key;

        // Redirect to the new URL
        window.location.href = url;
    });

    // Prevent the dropdown from closing when clicking inside the dropdown content
    document.getElementById('patchDropdown').addEventListener('click', function (event) {
        event.stopPropagation();  // Stop dropdown from closing when clicking inside
    });

    // Event listener to toggle checkbox when clicking on list item/label
    document.querySelectorAll('.dropdown-item label').forEach(function (label) {
        label.addEventListener('click', function (event) {
            var checkbox = this.querySelector('input[type="checkbox"]');
            checkbox.checked = !checkbox.checked; // Toggle checkbox state
            event.stopPropagation(); // Prevent dropdown from closing
        });
    });
    // Preselect checkboxes when the page loads
    window.onload = preselectPatches;
</script>
{% endif %}
{% endblock %}