{% extends 'base.html' %}

{% block content %}
    <div style="padding-top: 15px;">
        <div style="position: relative">
            <img style="float:left; padding-right: 20px; padding-bottom: 10px" src="{{ get_cdn_image(specific_key, header_title) }}">
            {% if stats == "megamindstats" and key != "Megamind" %}
                {% set header_title = "Megamind" %}
                <img style="position: absolute; top:0;left: 0; z-index: 1;" width="32" height="32" src="https://cdn.legiontd2.com/icons/Items/Megamind.png">
            {% endif %}
        </div>
        <r style="font-size: 1.5rem;" class="navbar-brand" href="#">{{ get_unit_name(specific_key) }} {{ header_title }}
            Stats
        </r>
        <div style="float:right;">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Elo
            </button>
            <ul class="dropdown-menu">
                {% for i in elo_brackets %}
                    <li><a class="dropdown-item" href="/{{ stats }}/{{ patch }}/{{ i }}/{{ specific_key }}">
                        <img loading="lazy" style="width: 24px; height: auto" src="{{ get_rank_url(i|int) }}">{{ i }}+</a></li>
                {% endfor %}
            </ul>
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Patch
            </button>
            <ul class="dropdown-menu">
                {% for p in patch_list %}
                    <li><a class="dropdown-item" href="/{{ stats }}/{{ p }}/{{ elo }}/{{ specific_key }}">v{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <br>
        {% if stats == "wavestats" %}
            <r style="font-size: 1rem;"><b>{{ human_format(games) }}</b> Ranked Games | Endrate:
            <b>{{ custom_winrate([data[specific_key]['EndCount'], games]) }}%</b> |
            <b>v{{ patch }}</b></r>
        {% else %}
            <r style="font-size: 1rem;"><b>{{ human_format(data[specific_key]['Count']) }}</b> Ranked Games | Winrate:
            <b>{{ custom_winrate([data[specific_key]['Wins'], data[specific_key]['Count']]) }}%</b> |
            <b>v{{ patch }}</b></r>
        {% endif %}
        {# HEADER 1 #}
        {% for header in sub_headers %}
            <table style="display: inline-block;" class="table"
                   id="myTable{{ loop.index }}">
                <tbody>
                {% set header_dict = sort_dict(data[specific_key][header[1]], 'Count') %}
                <tr>
                    <th style="width: 7%;">
                        <r>{{ header[0] }}</r>
                        {% if header[0] in ["Champions", "Adds", "Openers", "Targets"] %}
                            <i data-title="{{ get_tooltip(header[0]) }}" style="font-size:16px; position: absolute; top: 1px; right: 1px;" class="fa">&#xf059;</i>
                        {% endif %}
                    </th>
                    {% for key in header_dict %}
                        {% if key in mm_list %}
                            <td style="width: 7%;"><a xtitle="{{ get_tooltip(key) }}" href="/{{ header[2] }}/{{ patch }}/{{ elo }}/{{ key }}"><img loading="lazy"
                                    src="{{ get_cdn_image(key, header[0]) }}"></a></td>
                        {% else %}
                            <td style="width: 7%;"><a xtitle="{{ get_tooltip(key) }}" href="/{{ header[2] }}/{{ patch }}/{{ elo }}/{{ key|lower }}"><img loading="lazy"
                                    src="{{ get_cdn_image(key, header[0]) }}"></a></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {# HEADER 1 KEYS #}
                {% for k in header_keys %}
                    <tr>
                        <th>
                            <r>{{ k }}</r>
                        </th>
                        {% for key in header_dict %}
                            {% if stats == "wavestats" %}
                                {% set data = get_key_value(header_dict, key, k, data[specific_key]['Count']*4, stats, specific_tier = specific_tier, dict_type = header[2]) %}
                            {% else %}
                                {% set data = get_key_value(header_dict, key, k, data[specific_key]['Count'], stats, specific_tier = specific_tier, dict_type = header[2]) %}
                            {% endif %}
                            {% if k == "Tier" %}
                                <td data="{{ data[1] }}" style="color: {{ data[2] }}">{{ data[0] }}</td>
                            {% else %}
                                <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}