{% extends 'base.html' %}

{% block content %}
    <style>
        .noWrapStats{
            white-space: nowrap;
        }
        @media (max-width: 600px) {
            .noWrapStats {
                white-space: wrap;
            }
        }
    </style>
    <div style="padding-top: 15px;">
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
            <div class="noWrapStats">
                <img style="float:left; padding-right: 20px; padding-left: 10px;" src={{ title_image }}>
                {% if player_avatar_url %}
                    <a class="linkTextNoDeco" href="{{ playerurl }}">
                    <img style="height: 32px" src="https://cdn.legiontd2.com/{{ player_avatar_url }}">
                {% endif %}
                <r style="font-size: 1.5rem;" href="#">{{ title }} Stats</r>
                {% if player_avatar_url %}
                    </a>
                {% endif %}
                <br>
                {% if stats == "wavestats" %}
                    <r style="font-size: 1rem;"><b>{{ human_format(games) }}</b> Ranked Games | Avg Game Elo: <b><img style="width: 24px;" src="{{ get_rank_url(avg_elo|int) }}">{{ avg_elo }} </b> |
                    Avg End Wave: <b>{{ get_avg_end_wave(data) }}</b> | <b>v{{ patch }}</b></r>
                {% else %}
                    <r style="font-size: 1rem;"><b>{{ human_format(games) }}</b> Ranked Games | Avg Game Elo: <b><img style="width: 24px;" src="{{ get_rank_url(avg_elo|int) }}">{{ avg_elo }} </b> |
                    <b>v{{ patch }}</b></r>
                {% endif %}
            </div>
            <div>
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Elo
                </button>
                <ul class="dropdown-menu">
                    {% for i in elo_brackets %}
                        <li><a class="dropdown-item" href="{{ playerurl }}/{{ stats }}/{{ patch }}/{{ i }}">
                            <img style="width: 24px; height: auto" src="{{ get_rank_url(i|int) }}">{{ i }}+</a></li>
                    {% endfor %}
                </ul>
                {% if not patch_selector %}
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Patch
                    </button>
                    <ul class="dropdown-menu">
                        {% for p in patch_list %}
                            <li><a class="dropdown-item" href="{{ playerurl }}/{{ stats }}/{{ p }}/{{ elo }}">v{{ p }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="dropdown" style="float: right; padding-left: 5px">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Select Patches
                        </button>
                        <ul class="dropdown-menu bg-black" style="max-height: 400px; overflow-y: scroll" id="patchDropdown">
                            <form id="patchForm">
                                <li class="dropdown-item" id="patch-checkbox">
                                    <input type="checkbox" class="patch-checkbox" value="12">
                                     <label>v12.**</label>
                                </li>
                                {% for p in patch_list %}
                                    {% if p == "11.11" %}
                                        <li class="dropdown-item" id="patch-checkbox">
                                            <input type="checkbox" class="patch-checkbox" value="11">
                                             <label>v11.**</label>
                                        </li>
                                    {% endif %}
                                    <li class="dropdown-item" id="patch-checkbox">
                                        <input type="checkbox" class="patch-checkbox" value="{{ p }}">
                                         <label>v{{ p }}</label>
                                    </li>
                                {% endfor %}
                            </form>
                            <li class="dropdown-item text-center" style="position: sticky; bottom: 0; background-color: #000000">
                                <button class="btn btn-primary w-100" id="redirectButton">Go</button>
                            </li>
                        </ul>
                    </div>
                {% endif %}
                <div style="float: left; padding-right: 5px;" class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        {{ header_title }}
                    </button>
                    <div id="statsDropdown" class="dropdown-content">
                        <ul class="dropdown-menu dropdown-scrollbar">
                            <input type="text"
                               class="form-control
                                      border-0 border-bottom
                                      shadow-none mb-2"
                               placeholder="Search..."
                               id="statsInput"
                               onkeyup="statsFilter()">
                            {% for d in data_keys %}
                                <li><a class="dropdown-item" href="{{ playerurl }}/{{ stats }}/{{ patch }}/{{ elo }}/{{ d }}">
                                    <img loading="lazy" style="width: 24px;" src="{{ get_cdn_image(d, header_title) }}">{{ d|capitalize }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <table style="margin-top:  10px; display: inline-block;" class="table"
               id="myTable">
            {# HEADER 1 #}
            <thead>
            <tr>
                <th></th>
                {% for key in data %}
                <th style="text-align: center">
                    {{ loop.index }}
                </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <th style="width: 7%;">
                    <r>{{ header_title }}</r>
                </th>
                {% for key in data %}
                    <td style="width: 7%;"><div style="position: relative"><a xtitle="{{ get_tooltip(key) }}" href="{{ playerurl }}/{{ stats }}/{{ patch }}/{{ elo }}/{{ key }}"><img loading="lazy" src="{{ get_cdn_image(key, header_title) }}">
                    {% if stats == "megamindstats" and key != "Megamind" %}
                        <img loading="lazy" style="top:-90%;left: 0px; position: absolute" width="32" height="32" src="https://cdn.legiontd2.com/icons/Items/Megamind.png">
                    {% endif %}
                    </a>
                    </div>
                    </td>

                {% endfor %}
            </tr>
            {# HEADER 1 KEYS #}
            {% for k in header_keys %}
                <tr>
                    <th>
                        <r style="white-space: nowrap;">{{ k }}</r>
                        {% if k in ["Pickrate", "W on 4", "W on 10", "Pickrate*", "Usage Rate", "Tier"] %}
                            <i data-title="{{ get_tooltip(k) }}" style="font-size:14px; position: absolute; top: 1px; right: 1px;" class="fa">?</i>
                        {% endif %}
                    </th>
                    {% for key in data %}
                        {% set data = get_key_value(data, key, k, games, stats, elo, playerprofile=playerprofile) %}
                        {% if k == "Tier" %}
                            <td data="{{ data[1] }}" style="color: {{ data[2] }}">{{ data[0] }}</td>
                        {% else %}
                            <td>{{ data }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            {# SUB HEADERS #}
            {% for sub in sub_headers %}
                <tr>
                    <th>
                        <r style="white-space: nowrap;">{{ sub[0] }}</r>
                        <i data-title="{{ get_tooltip(sub[0]) }}" style="font-size:14px; position: absolute; top: 1px; right: 1px;" class="fa">?</i>
                    </th>
                    {% for key in data %}
                        {% set sub_value = get_key_value(data, key, sub[0], games, stats=stats, elo=elo, dict_type = sub[2], specific_tier = True, playerprofile=playerprofile) %}
                        {% if sub_value in mm_list %}
                            <td><a xtitle="{{ get_tooltip(sub_value) }}" href="{{ playerurl }}/{{ sub[2] }}/{{ patch }}/{{ elo }}/{{ sub_value }}"><img loading="lazy"
                                    src="{{ get_cdn_image(sub_value, sub[0]) }}"></a></td>
                        {% else %}
                            <td><a xtitle="{{ get_tooltip(sub_value) }}" href="{{ playerurl }}/{{ sub[2] }}/{{ patch }}/{{ elo }}/{{ sub_value|lower }}"><img loading="lazy"
                                    src="{{ get_cdn_image(sub_value, sub[0]) }}"></a></td>
                        {% endif %}
                    {% endfor %}
                    {# SUB HEADER KEYS #}
                    {% for sub_key in ['Games', 'Winrate', 'Playrate'] %}
                        <tr>
                            <th>
                                <r style="white-space: nowrap;">{{ sub_key }}</r>
                            </th>
                            {% for key in data %}
                                {% set sub_value = get_key_value(data, key, sub[0], games, stats=stats, elo=elo, dict_type = sub[2], specific_tier = True, playerprofile=playerprofile) %}
                                {% if stats == "wavestats" and not playername2 %}
                                    <td>{{ get_key_value(data[key][sub[1]], sub_value, sub_key, data[key]['Count']*4)}}</td>
                                {% else %}
                                    <td>{{ get_key_value(data[key][sub[1]], sub_value, sub_key, data[key]['Count'])}}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% if patch_selector %}
<script src="/static/profile_patches2.js"></script>
{% endif %}
{% endblock %}