{% extends 'base.html' %}

{% block content %}
    <div style="padding-top: 15px;">
        <img style="float:left; padding-right: 20px; padding-left: 10px;" src={{ title_image }}>
        <r style="font-size: 1.5rem;" class="navbar-brand" href="#">{{ title }} stats</r>
        <div style="float:right;">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Elo
            </button>
            <ul class="dropdown-menu">
                {% for i in elo_brackets %}
                    {% if title == 'Megamind' %}
                        <li><a class="dropdown-item" href="/{{ stats }}/{{ patch }}/{{ i }}/Megamind">
                            <img style="width: 24px;" src="{{ get_rank_url(i|int) }}">{{ i }}+</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="/{{ stats }}/{{ patch }}/{{ i }}">
                            <img style="width: 24px; height: auto" src="{{ get_rank_url(i|int) }}">{{ i }}+</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Patch
            </button>
            <ul class="dropdown-menu">
                {% for p in patch_list %}
                    {% if title == 'Megamind' %}
                        <li><a class="dropdown-item" href="/{{ stats }}/{{ p }}/{{ elo }}/Megamind">v{{ p }}</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="/{{ stats }}/{{ p }}/{{ elo }}">v{{ p }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div style="float: left; padding-right: 5px;" class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false" onclick="myFunction()">
                    {{ header_title }}
                </button>
                <div id="myDropdown" class="dropdown-content">
                    <ul class="dropdown-menu dropdown-scrollbar">
                        <input type="text"
                           class="form-control
                                  border-0 border-bottom
                                  shadow-none mb-2"
                           placeholder="Search..."
                           id="myInput"
                           onkeyup="filterFunction()">
                        {% for d in data_keys %}
                            {% if d == "Megamind" %}
                                {% set stats = "megamindstats" %}
                            {% endif %}
                            <li><a class="dropdown-item" href="/{{ stats }}/{{ patch }}/{{ elo }}/{{ d }}">
                                <img style="width: 24px;" src="{{ get_cdn_image(d, header_title) }}">{{ d|capitalize }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <r style="font-size: 1rem;"><b>{{ human_format(games) }}</b> Ranked Games | Avg Game Elo: <b><img style="width: 24px;" src="{{ get_rank_url(avg_elo|int) }}">{{ avg_elo }} </b> |
            <b>v{{ patch }}</b></r>
        <table style="margin-top:  20px; display: inline-block; overflow: auto;" class="table table-striped-columns table-hover"
               id="myTable">
            {# HEADER 1 #}
            <tbody>
            <tr>
                <th style="width: 7%;" title="{{ get_tooltip(header_title) }}">
                    <r>{{ header_title }}</r>
                </th>
                {% for key in data %}
                    {% if key == "Megamind" %}
                        {% set stats = "megamindstats" %}
                    {% endif %}
                    <td style="width: 7%;"><div style="position: relative"><a href="/{{ stats }}/{{ patch }}/{{ elo }}/{{ key }}"><img src="{{ get_cdn_image(key, header_title) }}">
                    {% if stats == "megamindstats" and key != "Megamind" %}
                        <img style="top:0;left: 8px; position: absolute" width="32" height="32" src="https://cdn.legiontd2.com/icons/Items/Megamind.png">
                    {% endif %}
                    </a>
                    </div>
                    </td>

                {% endfor %}
            </tr>
            {# HEADER 1 KEYS #}
            {% for k in header_keys %}
                <tr>
                    <th title="{{ get_tooltip(k) }}">
                        <r style="white-space: nowrap;">{{ k }}</r>
                    </th>
                    {% for key in data %}
                        <td>{{ get_key_value(data, key, k, games, stats) }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            {# SUB HEADERS #}
            {% for sub in sub_headers %}
                <tr>
                    <th title="{{ get_tooltip(sub[0]) }}">
                        <r style="white-space: nowrap;">{{ sub[0] }}</r>
                    </th>
                    {% for key in data %}
                        {% set sub_value = get_key_value(data, key, sub[0], games) %}
                        {% if sub_value in mm_list %}
                            <td><a href="/{{ sub[2] }}/{{ patch }}/{{ elo }}/{{ sub_value }}"><img
                                    src="{{ get_cdn_image(sub_value, sub[0]) }}"></a></td>
                        {% else %}
                            <td><a href="/{{ sub[2] }}/{{ patch }}/{{ elo }}/{{ sub_value|lower }}"><img
                                    src="{{ get_cdn_image(sub_value, sub[0]) }}"></a></td>
                        {% endif %}
                    {% endfor %}
                    {# SUB HEADER KEYS #}
                    {% for sub_key in ['Games', 'Winrate', 'Playrate'] %}
                        <tr>
                            <th title="{{ get_tooltip(sub_key) }}">
                                <r>{{ sub_key }}</r>
                            </th>
                            {% for key in data %}
                                {% set sub_value = get_key_value(data, key, sub[0], games) %}
                                <td>{{ get_key_value(data[key][sub[1]], sub_value, sub_key, data[key]['Count']) }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}