{% extends 'base.html' %}

{% block content %}
    <style>
        .noWrapStats{
            white-space: nowrap;
        }
        @media (max-width: 600px) {
            .noWrapStats {
                white-space: wrap;
            }
        }
        .tier-Splus { color: Yellow; }
        .tier-S { color: Gold; }
        .tier-A { color: GreenYellow; }
        .tier-B { color: MediumSeaGreen; }
        .tier-C { color: DarkOrange; }
        .tier-D { color: Red; }
    </style>
    <div style="padding-top: 15px;">
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
            <div class="noWrapStats">
                <img style="float:left; padding-right: 20px; padding-left: 10px;" src={{ title_image }}>
                {% if player_avatar_url %}
                    <a class="linkTextNoDeco" href="{{ playerurl }}">
                    <img style="height: 32px" src="https://cdn.legiontd2.com/{{ player_avatar_url }}">
                {% endif %}
                <r style="font-size: 1.5rem;" href="#">{{ title }} Stats</r>
                {% if player_avatar_url %}
                    </a>
                {% endif %}
                <br>
                {% if stats == "wavestats" %}
                    <r style="font-size: 1rem;"><b>{{ human_format(games) }}</b> Ranked Games | Avg Game Elo: <b><img style="width: 24px;" src="{{ get_rank_url(avg_elo) }}">{{ avg_elo }} </b> |
                    Avg End Wave: <b>{{ get_avg_end_wave(data) }}</b> | <b>{{ patch }}</b></r>
                {% else %}
                    <r style="font-size: 1rem;"><b>{{ human_format(games) }}</b> Ranked Games | Avg Game Elo: <b><img style="width: 24px;" src="{{ get_rank_url(avg_elo) }}">{{ avg_elo }} </b> |
                    <b>{{ patch }}</b></r>
                {% endif %}
            </div>
            <div>
                <button class="btn btn-dark btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <img style="width: 20px;" src="{{ get_rank_url(elo) }}">{{ elo }}
                </button>
                <ul class="dropdown-menu">
                    {% for i in elo_brackets %}
                        <li><a class="dropdown-item" href="{{ playerurl }}/{{ stats }}/{{ patch }}/{{ i }}">
                            {% set elo_suffix = "+" %}
                            {% if i is string %}
                                {% if "-" in i %}
                                    {% set elo_suffix = "" %}
                                {% endif %}
                            {% endif %}
                            <img style="width: 24px; height: auto" src="{{ get_rank_url(i) }}">{{ i }}{{ elo_suffix }}</a></li>
                    {% endfor %}
                </ul>
                {% if not patch_selector %}
                    <button class="btn btn-dark btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        {{ patch }}
                    </button>
                    <ul class="dropdown-menu">
                        {% for p in patch_list %}
                            <li><a class="dropdown-item" href="{{ playerurl }}/{{ stats }}/{{ p }}/{{ elo }}">v{{ p }}</a></li>
                        {% endfor %}
                        <li>
                            <form onsubmit="redirectToCustomPatch(event)" class="d-flex align-items-center" style="padding-left: 5px">
                                <input type="text" id="customPatch" class="form-control form-control-sm me-2" placeholder="Patch" style="width: 100px;">
                                <button type="submit" class="btn btn-dark btn-outline-light btn-sm">Go</button>
                            </form>
                        </li>
                    </ul>
                    <script>
                        function redirectToCustomPatch(event) {
                            event.preventDefault();
                            let customPatch = document.getElementById("customPatch").value;
                            if (customPatch) {
                                window.location.href = "{{ playerurl }}/{{ stats }}/v" + encodeURIComponent(customPatch) + "/{{ elo }}";
                            }
                        }
                    </script>
                {% else %}
                    <div class="dropdown" style="float: right; padding-left: 5px">
                        <button class="btn btn-dark btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Select Patches
                        </button>
                        <ul class="dropdown-menu bg-black" style="max-height: 400px; overflow-y: scroll" id="patchDropdown">
                            <form id="patchForm">
                                <li class="dropdown-item" id="patch-checkbox">
                                    <input type="checkbox" class="patch-checkbox" value="12">
                                     <label>v12.**</label>
                                </li>
                                {% for p in patch_list %}
                                    {% if p == "11.11" %}
                                        <li class="dropdown-item" id="patch-checkbox">
                                            <input type="checkbox" class="patch-checkbox" value="11">
                                             <label>v11.**</label>
                                        </li>
                                    {% endif %}
                                    <li class="dropdown-item" id="patch-checkbox">
                                        <input type="checkbox" class="patch-checkbox" value="{{ p }}">
                                         <label>v{{ p }}</label>
                                    </li>
                                {% endfor %}
                            </form>
                            <li class="dropdown-item text-center" style="position: sticky; bottom: 0; background-color: #000000">
                                <button class="btn btn-primary w-100" id="redirectButton">Go</button>
                            </li>
                        </ul>
                    </div>
                {% endif %}
                <div style="float: left; padding-right: 5px;" class="dropdown">
                    <button class="btn btn-dark btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        {{ header_title }}
                    </button>
                    <div id="statsDropdown" class="dropdown-content">
                        <ul class="dropdown-menu dropdown-scrollbar">
                            <input type="text"
                               class="form-control
                                      border-0 border-bottom
                                      shadow-none mb-2"
                               placeholder="Search..."
                               id="statsInput"
                               onkeyup="statsFilter()">
                            {% for d in data_keys %}
                                <li><a class="dropdown-item" href="{{ playerurl }}/{{ stats }}/{{ patch }}/{{ elo }}/{{ d }}">
                                    <img loading="lazy" style="width: 24px;" src="{{ get_cdn_image(d, header_title) }}">{{ d|capitalize }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-container">
            <div class="scroll-top" style="overflow-y: hidden">
                <div class="fakeContent" style="height: 20px;"></div>
            </div>
            <div style="display: flex; justify-content: center;">
                <table style="margin-top: 0; display: inline-block; width: max-content" class="table"
                       id="myTable">
                    {# HEADER 1 #}
                    <thead>
                    <tr>
                        <th></th>
                        {% for key in data %}
                        <th style="text-align: center">
                            {{ loop.index }}
                        </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>
                            <r>{{ header_title }}</r>
                        </th>
                        {% for key in data %}
                            <td><div style="position: relative"><a xtitle="{{ get_tooltip(key) }}" href="{{ playerurl }}/{{ stats }}/{{ patch }}/{{ elo }}/{{ key }}"><img loading="lazy" src="{{ get_cdn_image(key, header_title) }}">
                            {% if stats == "megamindstats" and key != "Megamind" %}
                                <img loading="lazy" style="top:-93%;left: 0px; position: absolute" width="32" height="32" src="https://cdn.legiontd2.com/icons/Items/Megamind.png">
                            {% endif %}
                            </a>
                            </div>
                            </td>

                        {% endfor %}
                    </tr>
                    {# HEADER 1 KEYS #}
                    {% for k in header_keys %}
                        <tr>
                            <th>
                                <r style="white-space: nowrap;">{{ k }}</r>
                                {% if k in ["Pickrate", "W on 4", "W on 10", "Pickrate*", "Usage Rate", "Tier"] %}
                                    <i data-title="{{ get_tooltip(k) }}" style="font-size:14px; position: absolute; top: 1px; right: 1px;" class="fa">?</i>
                                {% endif %}
                            </th>
                            {% for key in data %}
                                {% set data = get_key_value(data, key, k, games, stats, elo, playerprofile=playerprofile) %}
                                {% if k == "Tier" %}
                                    <td id="tierCell" data="{{ data }}"></td>
                                {% else %}
                                    <td>{{ data }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    {# SUB HEADERS #}
                    {% for sub in sub_headers %}
                        <tr>
                            <th>
                                <r style="white-space: nowrap;">{{ sub[0] }}</r>
                                <i data-title="{{ get_tooltip(sub[0]) }}" style="font-size:14px; position: absolute; top: 1px; right: 1px;" class="fa">?</i>
                            </th>
                            {% for key in data %}
                                {% set sub_value = get_key_value(data, key, sub[0], games, stats=stats, elo=elo, dict_type = sub[2], specific_tier = True, playerprofile=playerprofile) %}
                                {% if sub_value in mm_list %}
                                    <td><a xtitle="{{ get_tooltip(sub_value) }}" href="{{ playerurl }}/{{ sub[2] }}/{{ patch }}/{{ elo }}/{{ sub_value }}"><img loading="lazy"
                                            src="{{ get_cdn_image(sub_value, sub[0]) }}"></a></td>
                                {% else %}
                                    <td><a xtitle="{{ get_tooltip(sub_value) }}" href="{{ playerurl }}/{{ sub[2] }}/{{ patch }}/{{ elo }}/{{ sub_value|lower }}"><img loading="lazy"
                                            src="{{ get_cdn_image(sub_value, sub[0]) }}"></a></td>
                                {% endif %}
                            {% endfor %}
                            {# SUB HEADER KEYS #}
                            {% if stats != "matchupstats" %}
                                {% set sub_keys = ['Games', 'Winrate', 'Playrate'] %}
                            {% else %}
                                {% if not playerprofile %}
                                    {% if sub[0] == "Best With" %}
                                        {% set sub_keys = ['Games', 'Winrate', 'Synergy'] %}
                                    {% else %}
                                        {% set sub_keys = ['Games', 'Winrate', 'Counter'] %}
                                    {% endif %}
                                {% else %}
                                    {% set sub_keys = ['Games', 'Winrate', 'Playrate'] %}
                                {% endif %}
                            {% endif %}
                            {% for sub_key in sub_keys %}
                                <tr>
                                    <th>
                                        <r style="white-space: nowrap;">{{ sub_key }}</r>
                                        {% if sub_key in ["Synergy", "Counter", "Delta"] %}
                                            <i data-title="{{ get_tooltip(sub_key) }}" style="font-size:16px; position: absolute; top: 1px; right: 1px;" class="fa">?</i>
                                        {% endif %}
                                    </th>
                                    {% for key in data %}
                                        {% set sub_value = get_key_value(data, key, sub[0], games, stats=stats, elo=elo, dict_type = sub[2], specific_tier = True, playerprofile=playerprofile) %}
                                        {% if stats == "wavestats" and not playername2 %}
                                            <td>{{ get_key_value(data[key][sub[1]], sub_value, sub_key, data[key]['Count']*4)}}</td>
                                        {% else %}
                                            <td>{{ get_key_value(data[key][sub[1]], sub_value, sub_key, data[key]['Count'], stats=stats, specific_tier = True, data_dict = data, specific_key = sub_value, main_key = key)}}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<style>
    .scroll-container {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .scroll-top {
        overflow-x: auto;
        height: 20px;
        z-index: 999;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const scrollTop = document.querySelector('.scroll-top');
        const fakeContent = document.querySelector('.fakeContent');
        const table = document.querySelector('#myTable');

        fakeContent.style.width = table.scrollWidth + 'px';

        let isSyncingScrollTop = false;
        let isSyncingTable = false;

        scrollTop.addEventListener('scroll', () => {
            if (!isSyncingScrollTop) {
                isSyncingTable = true;
                table.scrollLeft = scrollTop.scrollLeft;
                isSyncingTable = false;
            }
        });

        table.addEventListener('scroll', () => {
            if (!isSyncingTable) {
                isSyncingScrollTop = true;
                scrollTop.scrollLeft = table.scrollLeft;
                isSyncingScrollTop = false;
            }
        });

        function updateFakeContentWidth() {
            fakeContent.style.width = table.scrollWidth + 'px';
        }

        window.addEventListener('resize', updateFakeContentWidth);

        setTimeout(() => {
            fakeContent.style.width = table.scrollWidth + 'px';
        }, 3000)
    });
</script>
{% if patch_selector %}
<script src="/static/profile_patches2.js"></script>
{% endif %}
<script>
    function assignTiers() {
        const cells = [...document.querySelectorAll('#tierCell')];
        if (cells.length === 0) return;

        const dataValues = cells.map(cell => ({
            cell,
            value: parseFloat(cell.getAttribute('data'))
        })).sort((a, b) => b.value - a.value);

        const numCells = dataValues.length;
        const dCount = Math.max(2, Math.ceil(numCells * 0.1));
        const remainingCount = numCells - dCount;
        const sPlusCount = 1;
        const sCount = Math.max(2, Math.floor(remainingCount / 8));
        const otherTiersCount = remainingCount - sCount;
        const tierShare = Math.floor(otherTiersCount / 3);
        const aCount = tierShare;
        const bCount = tierShare;
        const cCount = otherTiersCount - (aCount + bCount) - 1;

        dataValues.forEach((item, index) => {
            let tier, color;

            if (index < sPlusCount) {
                tier = 'S+';
                color = 'Yellow';
            } else if (index < sPlusCount + sCount) {
                tier = 'S';
                color = 'Gold';
            } else if (index < sPlusCount + sCount + aCount) {
                tier = 'A';
                color = 'GreenYellow';
            } else if (index < sPlusCount + sCount + aCount + bCount) {
                tier = 'B';
                color = 'MediumSeaGreen';
            } else if (index < sPlusCount + sCount + aCount + bCount + cCount) {
                tier = 'C';
                color = 'DarkOrange';
            } else {
                tier = 'D';
                color = 'Red';
            }

            item.cell.textContent = `${tier}`;
            item.cell.style.color = color;
        });
    }

    assignTiers();
</script>
{% endblock %}