{% extends 'base.html' %}

{% block content %}
    <style>
        .noWrapStats{
            white-space: nowrap;
        }
        @media (max-width: 800px) {
            .noWrapStats {
                white-space: wrap;
            }
        }
        [xtitle]:after {
            content: attr(xtitle);
            position: absolute;
            bottom: 100%;
            left: 0;
            background-color: black;
            font-family: "Roboto", sans-serif;
            font-size: 12px;
            text-align: center;
            border-radius: 4px;
            border: gray 1px solid;
            max-width: max-content;
            white-space: nowrap;
            padding: 2px;
            display: none;
            z-index: 9;
        }
    </style>
    <div style="padding-top: 15px;">
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
            <div class="noWrapStats">
                <div style="position: relative">
                    <img style="float:left; padding-right: 20px; padding-bottom: 10px" src="{{ get_cdn_image(specific_key, header_title) }}">
                    {% if stats == "megamindstats" and key != "Megamind" %}
                        {% set header_title = "Megamind" %}
                        <img style="position: absolute; top:0;left: 0; z-index: 1;" width="32" height="32" src="https://cdn.legiontd2.com/icons/Items/Megamind.png">
                    {% endif %}
                </div>
                {% if player_avatar_url %}
                    <a class="linkTextNoDeco" href="{{ playerurl }}">
                    <img style="height: 32px" src="https://cdn.legiontd2.com/{{ player_avatar_url }}">
                {% endif %}
                <r style="font-size: 1.5rem;" href="#">{{ playername2 }}{{ get_unit_name(specific_key) }} {{ header_title }}
                    Stats
                </r>
                {% if player_avatar_url %}
                    </a>
                {% endif %}
                <br>
                {% if stats == "wavestats" %}
                    <r style="font-size: 1rem;"><b>{{ human_format(games) }}</b> Ranked Games | Endrate:
                    <b>{{ custom_winrate([data[specific_key]['EndCount'], games]) }}%</b> |
                    <b>v{{ patch }}</b> | Avg Game Elo: <b><img style="width: 24px;" src="{{ get_rank_url(avg_elo|int) }}">{{ avg_elo }} </b></r>
                {% else %}
                    <r style="font-size: 1rem;"><b>{{ human_format(data[specific_key]['Count']) }}</b> Ranked Games | Winrate:
                    <b>{{ custom_winrate([data[specific_key]['Wins'], data[specific_key]['Count']]) }}%</b> |
                    <b>{{ patch }}</b> | Avg Game Elo: <b><img style="width: 24px;" src="{{ get_rank_url(avg_elo|int) }}">{{ avg_elo }} </b></r>
                {% endif %}
            </div>
            <div>
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Elo
                </button>
                <ul class="dropdown-menu">
                    {% for i in elo_brackets %}
                        <li><a class="dropdown-item" href="{{ playerurl }}/{{ stats }}/{{ patch }}/{{ i }}/{{ specific_key }}">
                            <img loading="lazy" style="width: 24px; height: auto" src="{{ get_rank_url(i|int) }}">{{ i }}+</a></li>
                    {% endfor %}
                </ul>
                {% if not patch_selector %}
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Patch
                </button>
                <ul class="dropdown-menu">
                    {% for p in patch_list %}
                        {% if title == 'Megamind' %}
                            <li><a class="dropdown-item" href="{{ playerurl }}/{{ stats }}/{{ p }}/{{ elo }}/Megamind">v{{ p }}</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{{ playerurl }}/{{ stats }}/{{ p }}/{{ elo }}/{{ specific_key }}">v{{ p }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li>
                        <form onsubmit="redirectToCustomPatch(event)" class="d-flex align-items-center" style="padding-left: 5px">
                            <input type="text" id="customPatch" class="form-control form-control-sm me-2" placeholder="Patch" style="width: 100px;">
                            <button type="submit" class="btn btn-secondary btn-sm">Go</button>
                        </form>
                    </li>
                </ul>
                <script>
                    function redirectToCustomPatch(event) {
                        event.preventDefault();
                        let customPatch = document.getElementById("customPatch").value;
                        if (customPatch) {
                            window.location.href = "{{ playerurl }}/{{ stats }}/v" + encodeURIComponent(customPatch) + "/{{ elo }}";
                        }
                    }
                </script>
                {% else %}
                    <div class="dropdown" style="float: right; padding-left: 5px">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Select Patches
                        </button>
                        <ul class="dropdown-menu bg-black" style="max-height: 400px; overflow-y: scroll" id="patchDropdown">
                            <form id="patchForm">
                                <li class="dropdown-item" id="patch-checkbox">
                                    <input type="checkbox" class="patch-checkbox" value="12">
                                     <label>v12.**</label>
                                </li>
                                {% for p in patch_list %}
                                    {% if p == "11.11" %}
                                        <li class="dropdown-item" id="patch-checkbox">
                                            <input type="checkbox" class="patch-checkbox" value="11">
                                             <label>v11.**</label>
                                        </li>
                                    {% endif %}
                                    <li class="dropdown-item" id="patch-checkbox">
                                        <input type="checkbox" class="patch-checkbox" value="{{ p }}">
                                         <label>v{{ p }}</label>
                                    </li>
                                {% endfor %}
                            </form>
                            <li class="dropdown-item text-center" style="position: sticky; bottom: 0; background-color: #000000">
                                <button class="btn btn-primary w-100" id="redirectButton">Go</button>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        {# HEADER 1 #}
        {% for header in sub_headers %}
            {% set loop_num = loop.index %}
            <table style="display: inline-block;" class="table"
                   id="myTable{{ loop.index }}">
                <tbody>
                {% set header_dict = sort_dict(data[specific_key][header[1]], 'Count') %}
                <tr>
                    <th style="width: 7%;">
                        <r>{{ header[0] }}</r>
                        {% if header[0] in ["Champions", "Adds", "Openers", "Targets"] %}
                            <i data-title="{{ get_tooltip(header[0]) }}" style="font-size:16px; position: absolute; top: 1px; right: 1px;" class="fa">?</i>
                        {% endif %}
                    </th>
                    {% for key in header_dict %}
                        {% if key in mm_list %}
                            <td style="width: 7%;"><a xtitle="{{ get_tooltip(key) }}" href="{{ playerurl }}/{{ header[2] }}/{{ patch }}/{{ elo }}/{{ key }}"><img loading="lazy"
                                    src="{{ get_cdn_image(key, header[0]) }}"></a></td>
                        {% else %}
                            <td style="width: 7%;"><a xtitle="{{ get_tooltip(key) }}" href="{{ playerurl }}/{{ header[2] }}/{{ patch }}/{{ elo }}/{{ key|lower }}"><img loading="lazy"
                                    src="{{ get_cdn_image(key, header[0]) }}"></a></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {# HEADER 1 KEYS #}
                {% for k in header_keys %}
                    <tr>
                        <th>
                            <r>{{ k }}</r>
                        </th>
                        {% for key in header_dict %}
                            {% if stats == "wavestats" and not playerprofile %}
                                {% set data = get_key_value(header_dict, key, k, data[specific_key]['Count']*4, stats, specific_tier = specific_tier, dict_type = header[2]) %}
                            {% else %}
                                {% set data = get_key_value(header_dict, key, k, data[specific_key]['Count'], stats, specific_tier = specific_tier, dict_type = header[2]) %}
                            {% endif %}
                            {% if k == "Tier" %}
                                <td id="tierCell{{ loop_num }}" data="{{ data }}"></td>
                            {% else %}
                                <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% if patch_selector %}
<script src="/static/profile_patches2.js"></script>
{% endif %}
<script>
    function assignTiers(tableIndex) {
        const cells = [...document.querySelectorAll(`#tierCell${tableIndex}`)];
        if (cells.length === 0) return;

        const dataValues = cells.map(cell => ({
            cell,
            value: parseFloat(cell.getAttribute('data'))
        })).sort((a, b) => b.value - a.value);

        const numCells = dataValues.length;
        const dCount = Math.max(2, Math.ceil(numCells * 0.1));
        const remainingCount = numCells - dCount;
        const sPlusCount = 1;
        const sCount = Math.max(2, Math.floor(remainingCount / 9));
        const otherTiersCount = remainingCount - sCount;
        const tierShare = Math.floor(otherTiersCount / 3);
        const aCount = tierShare;
        const bCount = tierShare;
        const cCount = otherTiersCount - (aCount + bCount) - 1;

        dataValues.forEach((item, index) => {
            let tier, color;

            if (index < sPlusCount) {
                tier = 'S+';
                color = 'Yellow';
            } else if (index < sPlusCount + sCount) {
                tier = 'S';
                color = 'Gold';
            } else if (index < sPlusCount + sCount + aCount) {
                tier = 'A';
                color = 'GreenYellow';
            } else if (index < sPlusCount + sCount + aCount + bCount) {
                tier = 'B';
                color = 'MediumSeaGreen';
            } else if (index < sPlusCount + sCount + aCount + bCount + cCount) {
                tier = 'C';
                color = 'DarkOrange';
            } else {
                tier = 'D';
                color = 'Red';
            }

            item.cell.textContent = `${tier}`;
            item.cell.style.color = color;
        });
    }
    [1, 2, 3, 4, 5].forEach(assignTiers);
</script>
{% endblock %}